body,
html {
  height: 100%;
  padding-top: 1rem;
}

.navbar a {
  text-decoration: none;
}

.heading {
  text-align: center;
  margin-bottom: 5%;
}

.bio {
  margin-bottom: 5%;
  margin-top: 5%;
}

#intro {
  font-family: "Raleway", sans-serif;
}

.works {
  margin-top: 5%;
  padding-bottom: 5%;
  margin-left: 1em;
  margin-right: 1em;
}

.card-link {
  color: #004085;
}

.card-text {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

.btn-primary {
  color: black;
}

#resume-card {
  margin: 5% auto;
}

.placeholder {
  font-size: large;
  margin: 15% auto;
  text-align: center;
}

.placeholder .card {
  margin: auto 25%;
}

#gradient-container {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title-section {
  font-family: "Raleway", sans-serif;
  margin-bottom: 5%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
